*.log
**/build/
**/dist/
**/newman/
**/coverage/
**/node_modules/
**/.next/
.#*
__pycache__/
.envrc
.idea
.vscode/settings.json
./sign/
*.key
.DS_Store
junit.xml
release_notes
/ecs-*.yml
.venv
.aws-sam
lib/
*.tsbuildinfo
_site/
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.cfn_guard_out
test/
amplify_outputs.json
.asdf
cdk.out/
.secrets
packages/cpt-ui/dist
packages/auth_demo/build/
.build/
.local_config/
.sbom/
